.temp_navbar{
	border-bottom: 1px solid #B6B8B9;
}
.menu .active a{
	color: #000;
}
.large-menu{
	color: black;
	width: 100%;
	height: 50px;
    display: flex;
    align-items: center;
}
.menu-wrapper{
    display: flex;
    width: 100%;
}
.menu {
    width: 100%;
	position: relative;
	min-height: 50px;
    display: flex;
    align-items: center;
}
.menu nav{}
.menu nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu nav ul li{
	float: left;
	position: relative;
}
.menu nav ul li a{
	display: block;
	color: rgb(255, 255, 255);
	margin-right: 5px;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.43;
    font-weight: bold;
    padding: 0 8px;
    white-space: nowrap;
}
.menu nav ul li:hover > a{
	color: #FF565C;
}

.wishlist{
    width: 28px;
    height: 28px;
    position: relative;
}
.wishlistCount{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #FF565C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_advertise{
    cursor: pointer;
    position: relative;
}
.advertisement_text{
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 5px;
    background-color: #64bdf8;
    border-radius: 5px;
}
.advertisement_text p{
    font-size: 12px;
    margin: 0;
    color: #fff;
}
.add_plus_icon{
    position: absolute;
    top: -2px;
    right: -24px;
    background-color: #ffffff;
    color: #039BE5;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* sub menu start here */
.sub-menu-icon i{
    font-size: 12px;
}
.menu ul li ul.submenu {
    position: absolute;
    top: 120%;
    width: 200px;
    left: 0;
    color: #555555;
    background-color: #ffffff;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    border-radius: 0 0 5px 5px;
}
.menu ul li:hover ul.submenu{
	opacity: 1;
	visibility: visible;
	top: 110%;
}
.menu ul li ul.submenu li{
	float: none;
}
.menu ul li ul.submenu li a{
	padding: 10px 20px;
}

/* menu right section */

.menu-right {
    margin-top: 10px;
    width: 16%;
	float: right;
}
.menu-right ul{}
.menu-right ul li{
	float: right;
	padding: 10px 20px;

}
.menu-right ul li a{
	color: rgb(179, 143, 2);
	font-size: 14px;
	font-weight: bold;
}
/* three level menu */
.menu ul li ul.submenu li ul.submenu{
	left: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.menu ul li ul.submenu li:hover > ul.submenu{
	opacity: 1;
	visibility: visible;
}
.menu ul li ul.submenu li ul.submenu li{}
.menu ul li ul.submenu li ul.submenu li a{}

/* mega menu start here */
.menu ul li .mega-menu{
	top: 110%;
	position: absolute;
	width: 700px;
	overflow: hidden;
	background-color: #555555;
	padding: 20px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}
.menu ul li:hover .mega-menu{
	opacity: 1;
	visibility: visible;
}
.menu ul li .mega-menu ul{
	width: 33.33%;
	float: left;

}
.menu ul li .mega-menu ul li{
	float: none;
}
.menu ul li .mega-menu ul li.mega-title{
	width: 100%;
}
.menu ul li .mega-menu ul li.mega-title a{
	font-weight: 700;
	border-bottom: 1px solid #777;
}
/* mega full  */
.menu ul li.static{
	position: static;
}
.menu ul li .mega-menu.mega-full{
	width: 100%;
	margin-top: -4px;

}

.header_wrapper{
	border-bottom: 1px solid #B6B8B9;
}




